// Variables
:root {
    --font-size-h1: clamp(24px, 5vw, 44px);
    --font-size-h2: clamp(22px, 4.5vw, 42px);
    --font-size-h3: clamp(20px, 4vw, 40px);
    --font-size-h4: clamp(18px, 3.5vw, 38px);
    --font-size-h5: clamp(16px, 3vw, 36px);
    --font-size-h6: clamp(14px, 2.5vw, 34px);
    --font-size-p: clamp(14px, 2vw, 24px);
    --font-size-small: clamp(12px, 1.5vw, 22px);
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Reospec.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

$primary-color: #0A0908;
$secondary-color: #22333B;
$text-color: #F2F4F3;
$padding: 20px;

// Global Styles
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'NeueMontreal', sans-serif;
    line-height: 1.5;
    background-color: $primary-color;
    position: relative;
}

*::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
    background-color: #000000;
}

*::-webkit-scrollbar-track:active {
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #000000;
}


// Layout
.container-fluid {
    width: 100%;
    padding: 20px;
    height: 100%;
}



// Hero Section
#hero {
    height: 100dvh;
    overflow: hidden;

    #hero-section {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        gap: 5px;
        width: 100%;
        height: 100%;
    }

    #hero-bg {
        grid-area: 1 / 1 / 13 / 13;
        border-radius: 50px;
        background-image: url('/image/14310340.jpg');
        // background-image: url('/image/15405592.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;

        .gradiant {
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(0deg, rgba(10, 9, 8, var(--opacity, 0)) 10%, rgba(255, 255, 255, 0) 57%);
            transition: opacity 0.2s ease;
            z-index: 2;
        }
    }

    #hero-nav {
        grid-area: 1 / 3 / 2 / 11;
        background-color: $primary-color;
        border-radius: 2px 2px 50px 50px;

        transform: translateY(-100px);
        animation: swipeIns 1.5s ease-out forwards 3s;

        @keyframes swipeIns {
            0% {
                transform: translateY(-100px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }


    #hero-name {
        grid-area: 12 / 1 / 13 / 3;
        border-radius: 0 50px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin-left: 8px;
            font-family: 'NeueMontreal', sans-serif;
            color: $text-color;
            text-align: center;
            letter-spacing: 1px;
            font-weight: normal;
            -webkit-text-stroke: 2px $text-color;
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards 3.5s;
        }
    }

    #hero-scroll {
        grid-area: 12/12/13/13;
        background-color: $primary-color;
        border-radius: 50px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(150px);
        animation: swipeIn 1.5s ease-out forwards 3s;

        h1 {
            font-family: 'NeueMontreal', sans-serif;
            font-weight: 700;
            color: $text-color;
            text-align: center;
            letter-spacing: 0.1px;
            font-size: clamp(1.2rem, 1.2vw, 6rem);
        }

        .btn-shine {
            color: #ffffff;
            background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
            background-position: 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 5s infinite linear 1.5s;
            animation-fill-mode: forwards;
            -webkit-text-size-adjust: none;
            white-space: nowrap;
            transition: all 0.3s ease;
        }

        .fade {
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards 3.5s;
        }

        @keyframes shine {
            0% {
                background-position: 0;
            }

            100% {
                background-position: 180px;
            }
        }

        @keyframes swipeIn {
            0% {
                transform: translateX(200px);
            }

            100% {
                transform: translateX(0);
            }
        }
    }

    #hero-main-text {
        grid-area: 3 / 3 / 9 / 11;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin-left: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-family: 'MyCustomFont', sans-serif;
            font-weight: normal;
            -webkit-text-stroke: 15px $text-color;
            color: $text-color;
            font-size: clamp(8rem, 10vw, 12rem);
            text-align: center;
            line-height: 0.8;
            letter-spacing: 0.1px;

            span {
                text-align: center;
                display: inline-block;
                opacity: 0;
                transform: translateY(50px); // Start lower for a fade-up effect
                animation: fadeInUp 1s ease-in-out forwards;
            }

            span:nth-child(1) {
                animation-delay: 0.8s;
            }

            span:nth-child(2) {
                animation-delay: 0.8s;
            }

            span:nth-child(3) {
                animation-delay: 1.4s;
            }
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px); // Starting 50px below
        }

        to {
            opacity: 1;
            transform: translateY(0); // Ending at normal position
        }
    }


    #hero-logo {
        grid-area: 1 / 1 / 2 / 4;
        display: none;
        transition: all 0.3s ease;
    }

    header {
        background-color: transparent;
        padding: .5rem 2rem;
        height: 100%;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards 3.5s;

            @keyframes fadeIn {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        // Logo
        .logo a {
            font-size: 1.8rem;
            font-weight: bold;
            color: $text-color;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        // Navigation Links
        .nav-links {
            list-style: none;
            display: flex;
            gap: 2rem;


            li a {
                text-decoration: none;
                color: $text-color;
                font-size: 1rem;
                transition: color 0.3s ease;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        // Hamburger Menu
        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;
            background: transparent;
            border: none;
            cursor: pointer;

            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: $text-color;
                border-radius: 10px;
                transition: all 0.3s ease;
            }
        }
    }
}

// End hero section

// About Section
#about {
    height: 80dvh;
    overflow: hidden;

    #cssportal-grid {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);
        gap: 25px 24px;
        width: 100%;
        height: 100%;
    }

    .about-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .about-div-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 5px 50px;
        }
    }


    #div1 {
        grid-area: 1 / 1 / 4 / 4;
        border-radius: 50px;
        border: 1px solid #6e6e6f;
    }

    #div2 {
        grid-area: 1 / 4 / 4 / 7;
        border-radius: 50px;
        border: 1px solid #6e6e6f;
    }

    #div3 {
        grid-area: 4 / 1 / 7 / 4;
        border-radius: 50px;
        border: 1px solid #6e6e6f;
    }

    #div4 {
        grid-area: 4 / 4 / 7 / 7;
        border-radius: 50px;
        border: 1px solid #6e6e6f;
    }

    #div5 {
        grid-area: 1 / 7 / 7 / 13;
        background-image: url('/image/15405592.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        border: 1px solid #6e6e6f;
        position: relative;
        padding: $padding;
        display: flex;
        align-items: end;
        justify-content: flex-start;
    }

    .about-gradiant {
        position: absolute;
        inset: 0;
        border-radius: 50px;
        background: linear-gradient(0deg, rgba(10, 9, 8, 1) 15%, rgba(255, 255, 255, 0) 57%);
        pointer-events: none;
    }

    .about-me-name {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        z-index: 1;

        h1 {
            font-size: clamp(2rem, 6vw, 10rem);
            line-height: 1.2;
            letter-spacing: .01px;
        }

        p {
            font-size: clamp(.8rem, 1vw, 5rem);
            line-height: 1;
            letter-spacing: 2px;
            font-weight: 200;
            font-style: normal;
        }
    }

}

// End About Section









// Responsive Adjustments
// Mobile (Small screens)
@media (max-width: 576px) {

    // Hero Section
    #hero {
        #hero-nav {
            grid-area: 1 / 2 / 2 / 12;
        }

        #hero-main-text {
            grid-area: 3 / 2 / 10 / 12;
        }

        #hero-name,
        #hero-scroll {
            grid-area: auto;
            width: 100%;
            height: 100px;
        }
    }

    // End hero section


}

// Tablet (Medium screens)
@media (max-width: 767px) {
    #hero {

        // Hero Section
        #hero-section {
            grid-template-rows: repeat(11, 1fr) 50px !important;

            #hero-bg {
                background-attachment: scroll;
            }

            #hero-nav {
                grid-area: 1 / 11 / 2 / 13 !important;
                border-radius: 20px 0 0 20px !important;
                margin-left: 0;
                transform: translateX(150px);
                animation: swipeInss 1.5s ease-out forwards 3s;
                z-index: 999;
                position: fixed;
                top: 10px;
                right: 20px;
                width: 50px;
                height: 80px;

                header {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .nav-links {
                        position: fixed !important;
                        top: -30px;
                        right: -20px;
                        width: 100vw !important;
                        height: 110vh;
                        background-color: $primary-color;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        z-index: 998;
                        transition: all 0.5s ease;

                    }

                    @keyframes swipeInss {
                        0% {
                            transform: translateX(100px);
                        }

                        100% {
                            transform: translateX(0);
                        }
                    }

                    .hamburger {
                        display: flex !important;
                        z-index: 999;
                    }

                    @keyframes spreadIn {
                        0% {
                            clip-path: circle(0% at 100% 0%);
                            opacity: 0;
                        }

                        100% {
                            clip-path: circle(150% at 100% 0%);
                            opacity: 1;
                        }
                    }

                    @keyframes spreadOut {
                        0% {
                            clip-path: circle(150% at 100% 0%);
                            opacity: 1;
                        }

                        100% {
                            clip-path: circle(0% at 100% 0%);
                            opacity: 0;
                        }
                    }

                    nav.active .nav-links {
                        visibility: visible;
                        animation: spreadIn .8s ease-in-out forwards;
                    }

                    nav:not(.active) .nav-links {
                        animation: spreadOut .5s ease-in-out forwards;
                    }


                    // Animation for Hamburger Menu
                    nav.active .hamburger span:nth-child(1) {
                        transform: translateY(8px) rotate(46deg);
                    }

                    nav.active .hamburger span:nth-child(2) {
                        opacity: 0;
                    }

                    nav.active .hamburger span:nth-child(3) {
                        transform: translateY(-8px) rotate(-46deg);
                    }

                }
            }

            #hero-name {
                grid-area: 11 / 6 / 11 / 8 !important;
            }

            #hero-scroll {
                border-radius: 35px 35px 0 0 !important;
                grid-area: 12 / 3 / 13 / 11 !important;
                align-items: flex-start;
                transform: translateY(100px);
                animation: swipeIns 1s ease-out forwards 3s !important;

                h1 {
                    margin-top: 10px;
                    writing-mode: horizontal-tb;
                    text-orientation: mixed;
                    transform: none;
                }

                .btn-shine {
                    color: #ffffff;
                    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
                    background-position: 0;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: shiness 6s infinite linear;
                    animation-fill-mode: forwards;
                    -webkit-text-size-adjust: none;
                    white-space: nowrap;
                }

                .fade {
                    opacity: 0;
                    animation: fadeIn 1s ease-in-out forwards 3.5s;
                }

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                @keyframes shiness {
                    0% {
                        background-position: 0;
                    }

                    100% {
                        background-position: 180px;
                    }
                }

                @keyframes swipeIns {
                    0% {
                        transform: translateY(100px);
                    }

                    100% {
                        transform: translateY(0);
                    }
                }
            }

            #hero-main-text {
                grid-area: 4 / 2 / 10 / 12;

                h1 {
                    margin-left: 30px;
                    letter-spacing: 1px !important;
                    font-size: clamp(10rem, 10vw, 12rem) !important;

                    span:nth-child(1) {
                        animation-delay: 0.11s;
                    }

                    span:nth-child(2) {
                        animation-delay: 0.8s;
                    }

                    span:nth-child(3) {
                        animation-delay: 1.4s;
                    }
                }
            }

            #hero-logo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 15px 15px;
                opacity: 0;
                animation: fadeIn 1s ease-in-out forwards 3.5s;
            }
        }
    }

    // End hero section

    // About Section

    #about {

        height: 110vh;

        #cssportal-grid {
            display: grid;
            grid-template-rows: repeat(12, 1fr) !important;
            grid-template-columns: repeat(6, 1fr) !important;
            gap: 20px !important;
            width: 100%;
            height: 100%;
        }

        #div1 {
            grid-area: 1 / 1 / 3 / 7 !important;
            border-radius: 25px;
        }

        #div2 {
            grid-area: 3 / 1 / 5 / 7 !important;
            border-radius: 25px;
        }

        #div3 {
            grid-area: 5 / 1 / 7 / 7 !important;
            border-radius: 25px;
        }

        #div4 {
            grid-area: 7 / 1 / 9 / 7 !important;
            border-radius: 25px;
        }

        #div5 {
            grid-area: 9 / 1 / 13 / 7 !important;
        }
    }

    // End About Section
}


// Small Laptops
@media (max-width: 991px) {

    // Hero Section
    #hero {
        #hero-nav {
            grid-area: 1 / 3 / 2 / 11;

            .logo {
                display: none;
            }

            .nav-links {
                width: 100%;
                justify-content: space-evenly;
            }
        }

        #hero-main-text {
            grid-area: 4 / 3 / 10 / 11;

        }

        #hero-name {
            grid-area: 12 / 1 / 13 / 4;
        }

        #hero-scroll {
            grid-area: 11 / 11 / 13 / 13;
        }
    }

    // End hero section

}

// Large Desktops
@media (max-width: 1200px) {

    // Hero Section
    #hero {

        #hero-nav {
            grid-area: 1 / 3 / 2 / 11;
        }

        #hero-main-text {
            grid-area: 3 / 3 / 10 / 11;
        }

        #hero-name {
            grid-area: 12 / 1 / 13 / 3;
        }

        #hero-scroll {
            grid-area: 11 / 12 / 13 / 13 !important;

            h1 {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
            }

            .btn-shine {
                color: #ffffff;
                background: linear-gradient(to bottom, #4d4d4d 0, white 10%, #4d4d4d 20%);
                background-size: 100% 500%;
                background-position: 0 100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: shines 4s infinite linear;
                animation-fill-mode: forwards;
                -webkit-text-size-adjust: none;
                white-space: nowrap;
            }

            @keyframes shines {
                0% {
                    background-position: 0 100%;
                }

                100% {
                    background-position: 0 -50%;
                }
            }
        }
    }

    // End hero section

    // About Section

    #about {
        #cssportal-grid {
            display: grid;
            grid-template-rows: repeat(8, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: 25px 24px;
            width: 100%;
            height: 100%;
        }

        .about-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .about-div-content {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 5px 15px;

                svg {
                    width: 50px;
                    height: 50px;
                    display: none;
                }
            }
        }

        #div1 {
            grid-area: 1 / 1 / 3 / 3;

        }

        #div2 {
            grid-area: 1 / 3 / 3 / 5;

        }

        #div3 {
            grid-area: 3 / 1 / 5 / 3;

        }

        #div4 {
            grid-area: 3 / 3 / 5 / 5;

        }

        #div5 {
            grid-area: 5 / 1 / 9 / 5;

            .about-me-name {
                margin-bottom: 20px;
            }
        }
    }

    // End About Section

}