// Variables
:root {
    --font-size-h1: clamp(24px, 5vw, 44px);
    --font-size-h2: clamp(22px, 4.5vw, 42px);
    --font-size-h3: clamp(20px, 4vw, 40px);
    --font-size-h4: clamp(18px, 3.5vw, 38px);
    --font-size-h5: clamp(16px, 3vw, 36px);
    --font-size-h6: clamp(14px, 2.5vw, 34px);
    --font-size-p: clamp(14px, 2vw, 24px);
    --font-size-small: clamp(12px, 1.5vw, 22px);
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Reospec.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Reospec.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Reospec.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$primary-color: #0A0908;
$secondary-color: #22333B;
$text-color: #F2F4F3;

// Global Styles
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: $primary-color;
}

// Layout
.container-fluid {
    width: 100%;
    padding: 20px;
    height: 100%;
}

// Hero Section
#hero {
    height: 100dvh;

    #cssportal-grid {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        gap: 5px;
        width: 100%;
        height: 100%;
    }

    #div1 {
        grid-area: 1 / 1 / 13 / 13;
        border-radius: 50px;
        background-image: url('/image/14310340.jpg');
        // background-image: url('/image/15405592.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    // #div1 {
    //     animation: backgroundSlide 5s infinite alternate ease-in-out;
    // }

    // @keyframes backgroundSlide {
    //     0% {
    //         background-image: url('/image/14310340.jpg');
    //     }

    //     100% {
    //         background-image: url('/image/15405592.png');
    //     }
    // }

    #div2 {
        grid-area: 1 / 3 / 2 / 11;
        background-color: $primary-color;
        border-radius: 2px 2px 50px 50px;
        margin-left: 30px;
    }

    #div3 {
        grid-area: 12 / 1 / 13 / 3;
        border-radius: 0 50px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'MyCustomFont', sans-serif;
            color: $text-color;
            text-align: center;
            letter-spacing: 0.2px;
            font-weight: normal;
            -webkit-text-stroke: 2px $text-color;
        }
    }

    #div4 {
        grid-area: 12/12/13/13;
        background-color: $primary-color;
        border-radius: 50px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: $text-color;
            text-align: center;
            letter-spacing: 0.1px;
            font-size: clamp(1rem, 1.5vw, 6rem);
        }
    }

    #div5 {
        grid-area: 3 / 3 / 9 / 11;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            margin-left: 55px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-family: 'MyCustomFont', sans-serif;
            font-weight: normal;
            -webkit-text-stroke: 15px $text-color;
            color: $text-color;
            font-size: clamp(8rem, 10vw, 12rem);
            text-align: center;
            line-height: .8;
            letter-spacing: 0.1px;

            span {
                text-align: center;
            }
        }
    }

    #div6 {
        grid-area: 1 / 1 / 2 / 4;
        display: none;
        transition: all 0.3s ease;
    }

    header {
        background-color: transparent;
        padding: .5rem 2rem;
        height: 100%;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        // Logo
        .logo a {
            font-size: 1.8rem;
            font-weight: bold;
            color: $text-color;
            text-decoration: none;
        }

        // Navigation Links
        .nav-links {
            list-style: none;
            display: flex;
            gap: 2rem;
            transition: all 0.3s ease;

            li a {
                text-decoration: none;
                color: $text-color;
                font-size: 1rem;
                transition: color 0.3s ease;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        // Hamburger Menu
        .hamburger {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;
            background: transparent;
            border: none;
            cursor: pointer;

            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: $text-color;
                border-radius: 10px;
                transition: all 0.3s ease;
            }
        }
    }

    // Responsive Adjustments

    // Mobile (Small screens)
    @media (max-width: 576px) {
        #div2 {
            grid-area: 1 / 2 / 2 / 12;
        }

        #div5 {
            grid-area: 3 / 2 / 10 / 12;
        }

        #div3,
        #div4 {
            grid-area: auto;
            width: 100%;
            height: 100px;
        }
    }

    // Tablet (Medium screens)
    @media (max-width: 767px) {

        #cssportal-grid {
            grid-template-rows: repeat(11, 1fr) 50px !important;


            #div2 {
                grid-area: 1 / 11 / 2 / 13 !important;
                border-radius: 0 0 0 30px !important;
                margin-left: 0;

                .nav-links {
                    width: 100%;
                    justify-content: center;
                }
            }

            #div3 {
                grid-area: 11 / 6 / 11 / 8 !important;
            }

            #div4 {
                border-radius: 35px 35px 0 0 !important;
                grid-area: 12 / 3 / 13 / 11 !important;
                align-items: flex-start;

                h1 {
                    margin-top: 10px;
                    writing-mode: horizontal-tb;
                    text-orientation: mixed;
                    transform: none;
                }

            }

            #div5 {
                grid-area: 4 / 2 / 10 / 12;

                h1 {
                    margin-left: 30px;
                    letter-spacing: 1px !important;
                    font-size: clamp(10rem, 10vw, 12rem) !important;
                }
            }

            #div6 {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 10px;
            }

            header {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .hamburger {
                display: flex !important;
                z-index: 999;
            }

            @keyframes spreadIn {
                0% {
                    clip-path: circle(0% at 100% 0%);
                    opacity: 0;
                }

                100% {
                    clip-path: circle(150% at 100% 0%);
                    opacity: 1;
                }
            }

            @keyframes spreadOut {
                0% {
                    clip-path: circle(150% at 100% 0%);
                    opacity: 1;
                }

                100% {
                    clip-path: circle(0% at 100% 0%);
                    opacity: 0;
                }
            }

            .nav-links {
                position: fixed;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(10, 9, 8, 0.95);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                visibility: hidden;
                opacity: 0;
                clip-path: circle(0% at 100% 0%);
                z-index: 998;
            }

            nav.active .nav-links {
                visibility: visible;
                animation: spreadIn 0.5s ease-in-out forwards;
            }

            nav:not(.active) .nav-links {
                animation: spreadOut 0.5s ease-in-out forwards;
            }


            // Animation for Hamburger Menu
            nav.active .hamburger span:nth-child(1) {
                transform: translateY(8px) rotate(46deg);
            }

            nav.active .hamburger span:nth-child(2) {
                opacity: 0;
            }

            nav.active .hamburger span:nth-child(3) {
                transform: translateY(-8px) rotate(-46deg);
            }

        }
    }


    // Small Laptops
    @media (max-width: 991px) {
        #div2 {
            grid-area: 1 / 3 / 2 / 11;

            .logo {
                display: none;
            }

            .nav-links {
                width: 100%;
                justify-content: space-evenly;
            }
        }

        #div5 {
            grid-area: 4 / 3 / 10 / 11;

        }

        #div3 {
            grid-area: 12 / 1 / 13 / 4;
        }

        #div4 {
            grid-area: 11 / 11 / 13 / 13;
        }
    }

    // Large Desktops
    @media (max-width: 1200px) {
        #div2 {
            grid-area: 1 / 3 / 2 / 11;
        }

        #div5 {
            grid-area: 3 / 3 / 10 / 11;
        }

        #div3 {
            grid-area: 12 / 1 / 13 / 3;
        }

        #div4 {
            grid-area: 11 / 12 / 13 / 13;

            h1 {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
            }
        }
    }

}